body {
    font: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(250, 250, 250);
}

nav, main > section {
    overflow: auto;
}

main > section {
    min-height: 100vh;
}

#nav {
    justify-content: space-between;
	align-items: baseline;
	padding: 1em;
	background-color: #1d1818;
	color: #eee;
	display: flex;
}

nav h1, ul {
    margin: 0
}

nav a {
	text-decoration: none;
    color: #eee;
}

nav ul {
	display: flex;
	list-style: none;
}
nav ul a {
	padding: 1em;
}

nav ul a:hover {
    color: lightgreen;
}

#banner {
    background-color: rgb(211, 255, 205);
    background-image: url(images/bear.jpeg);
    background-size: cover;
    display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #fff;
    padding:0 68% 0 40px;
}

#banner h1{
    font-size: 2em;
}

#banner div{
	margin: 0;
    text-shadow: 0 0 20px #000;
    background-color:rgba(255, 255, 255, 0.3);
    padding:0 20px 0 20px;
}

#ClimateChange ul{
    display: flex;
    flex: column;
    font-size: 1.5em;
    list-style: none;
}
#tip{
    width: 600px;
    margin: 1em;
    padding: 1em;
    background-color: rgba(76, 235, 70, 0.747);
    display:flex;
    flex-direction: column;
    min-height: 600px;
    min-width:400px;
}


#EnergyCalculators{
    background-image: url(images/forest.jpg);
}
#EnergyCalculators h2{
    font-size: 3em;
    color: rgb(51, 20, 20);
    display: flex;
    justify-content: center;
    margin: 0 30% 0 30%;
    padding:.5em;
    background-color: rgba(71, 182, 71,.9);
    
}

#EnergyCalculators ul{
    display: flex;
	justify-content: center;
    align-items: center;

}

#blue{
    background-color: rgba(151, 231, 219,.9);
}
#green{
    background-color: rgba(109, 233, 119,.9);
}
#yellow{
    background-color: rgba(218, 235, 119,.9);
}
#brown{
    background-color: rgba(240, 177, 130,.9);
}
.card {
    width: 400px;
    min-height: 600px;
	margin: 1em;
	background-color: rgb(214, 228, 226);
	display:flex;
	flex-direction: column;
}

.card h3{
	margin: 1em;
}
.card p{
	margin: 1em;
	
}
