body {
    font: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(250, 250, 250);
}

.navbar {
    overflow: hidden;
   
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: .5em;
    text-decoration: none;
}

main > section {
    overflow: auto;
}

main > section {
    min-height: 100vh;
}
#nav li{
    padding: .5em;
    margin: 0 10px 0 10px;
}

#nav {
    display: flex;
    justify-content: space-between;
	align-items: baseline;
	padding: .7em;
	background-color: #0c8d57;
	color: #eee;
	
}

nav h1, ul {
    margin: 0
}

nav ul {
    display: flex;
    flex: column;
    align-items: space-around;
	list-style: none;
}

nav ul a:hover {
    color: lightgreen;
}

#banner {
    background-color: rgb(211, 255, 205);
    background-image: url(images/bear.jpeg);
    background-size: cover;
    display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #fff;
    padding:0 68% 0 40px;
}

#banner h1{
    font-size: 2em;
}

#banner div{
	margin: 0;
    text-shadow: 0 0 20px #000;
    background-color:rgba(255, 255, 255, 0.3);
    padding:0 20px 0 20px;
   
}


#ClimateChange{
    padding: 0  0 0px;
    background-color: rgb(255, 255, 255);
}

#ClimateChange ul{
    display: flex;
    flex: column;
    font-size: 1em;
    list-style: none;
    padding:0;
}
#ClimateChange h2{
    display: flex;
    justify-content: center;
    padding: 90px 0 10px 0;
    font-size: 2em;
}
#ClimateChange p{
    padding: 0 80px  0 100px;
    font-size: 1.1em;
}

#tip{
    width: 600px;
    margin: 110px 100px 0 0px;
    padding: 1em;
    background-color: rgb(109, 233, 119,.9);
    min-height: 600px;
    min-width:400px;
    border: solid;
    border-color: #0c8d57;
    border-width: 8px;
    
}

#tip ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;

}
#tip h3{
    font-size: 2em;
    margin: 10px 0 20px 0;
}
#tip li{
    display: grid;
    grid-template-columns: 100px 250px;
    grid-template-rows: 120px;
}


#tip ul a{
    font-size: 1.2em;
    padding: .4em;
    font-weight: bold;
}
#tip ul a:hover {
    color: #0e5f44;
}


#EnergyCalculators{
    background-image: url(images/forest.jpg);
}
#EnergyCalculators h2{
    font-size: 2.5em;
    color: rgb(51, 20, 20);
    display: flex;
    justify-content: center;
    margin: 90px 30% 0 30%;
    padding:.5em;
    background-color: #0c8d57;
    color: white;
    
}

#EnergyCalculators ul{
    display: flex;
	justify-content: center;
    align-items: center;
    padding: 0;
}

#blue{
    background-color: rgba(151, 231, 219,.9);
}
#green{
    background-color: rgba(109, 233, 119,.9);
}
#yellow{
    background-color: rgba(218, 235, 119,.9);
}
#brown{
    background-color: rgba(240, 177, 130,.9);
}
.card {
    width: 400px;
    min-height: 600px;
	margin: 1em;
	background-color: rgb(214, 228, 226);
	display:flex;
	flex-direction: column;
}

.card h3{
	margin: 1em;
}
.card p{
	margin: 1em;
	
}
.card form{
    margin:.5em;
    padding: .1em;
}


#EnergyConsumption{
    padding: 0  0 0 0px;
    background-color: rgb(255, 255, 255);
    margin: 0 10px 0 0
}

#EnergyConsumption ul{
    display: flex;
    flex: column;
    font-size: 1em;
    list-style: none;
    padding:0;
}
#EnergyConsumption h2{
    display: flex;
    justify-content: center;
    padding: 90px 0 10px 0;
    font-size: 2em;
}
#EnergyConsumption p{
    padding: 0 80px  0 100px;
    font-size: 1.1em;
}
#image{
    margin:  200px 0 0 100px;
}